$presentation_bckg : rgba(200, 200, 200, 1);
$fontNav : darken($presentation_bckg, 50%); //color de menu
$boxes_color : rgba(255, 255, 255, 0.9); //couleur des boxes blacnhes translucides


//blue 1 to...
$c0 	: white;
$c1 	: #D13D58;
$c2 	: #690B1A;
$c3 	: #7A242D;
$c4 	: #E5E5E4;
$c5		: #210124;
$c6 	: rgba(0, 0, 0, 0.8);
$c7 	: black;


$media1: 1000px;
$media2: 750px;
