$presentation_bckg : rgba(200, 200, 200, 1);
$fontNav : darken($presentation_bckg, 50%); //color de menu
$boxes_color : rgba(255, 255, 255, 0.9); //couleur des boxes blacnhes translucides


//blue 1 to...
$c0 	: white;
$c1 	: #63A7D0;
$c2 	: #3C99D1;
$c3 	: #084369;
$c4 	: #235A7A;
$c5 	: #0769A2;
$c6 	: black;
