	.header{
		div.logo{
			position: absolute;
			padding-left: 60px;
			height: 50px;
			overflow: hidden;
		}
		position:relative;
		z-index: 1000;
		width: 100%;
		background-color: $c0;
		padding:0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		@include transition(all, 0.2s, ease-in-out);
		.navbar{
			@include padding-canvas($canvas-border);
			.nav{
				margin: 0;
				text-align: right;
				li{
					list-style-type: none;
    				  display: inline-block;
					&>a{
						text-transform: uppercase;
						@include font($header_font);
						color: $c6;
						text-decoration: none;
						display: block;
						padding: 15px;
						text-align: left;
						font-size:1.2em;
						background-color:$c0;
						@include transition(all, 0.2s, ease-in-out);
						&:hover{
							background-color:$c2;
							color:white;
						}
					}
				}
			}
		}
	}

@media screen and (max-width: 1000px) {
		.header{
			.logo{
				position:relative;
				margin: 0 auto;
				height:54px;
				overflow: hidden;
			}
		.navbar{
			padding: 0;
			font-size: 1.1em;
			.nav{
				li{	
					display: block;
					&>a{
					}
				}
			}
		}
	}	
	[id=navigation] + * {
		position: relative;
	}

	/* Theming opened nav */	
	[id=navigation] ul {		
		
		/* maximum height */
		max-height: 25em;

		/* translate with hardware acceleration */
		-webkit-transform: translateZ(0); 
		-ms-transform: translateZ(0);
		        transform: translateZ(0);
		-webkit-transition: max-height .4s;
		        transition: max-height .4s;

		/* global styles */
		margin: 0;
		padding: 0;
		list-style: none;
	}
	[id=navigation] a {
		display: block;
		padding: 1.2rem;
		color: #333;
		background: #fff;
		text-decoration: none;
		margin-bottom: 2px;
	}
	[id=navigation] a:hover, 
	[id=navigation] a:focus,
	[id=navigation] a:active
	{
		background: #eee;
	}
	
	/* Theming closed nav */
	[id=navigation].is-closed ul {
		max-height: 0;
		overflow: hidden;
	}

	/* Global styling nav button */	
	[id="toggle-nav"] {
		position: absolute;
			top: .8rem; right: 1rem;
		z-index: 1;
		height: 30px; width: 30px;
		background:url('./img/menu.png') no-repeat;
		background-color: transparent;
		padding: 0;
		outline: 0;
		cursor: pointer;
		border: none;
		-webkit-transition: -webkit-transform .2s;
		        transition: transform .2s;
	}
	
	/*  Removing Firefox's dotted outline on button */	
	[id="toggle-nav"]::-moz-focus-inner {
		border: 0;
	}
	
	[id="toggle-nav"]::after, [id="toggle-nav"]::before {
		position: absolute;
		-webkit-transition: -webkit-transform .2s;
		        transition: transform .2s;
	}
	[id="toggle-nav"]::before {
		top: 40%; right: 15%; bottom: 40%; left: 15%;
	}
	
	
	/* Theming opened nav button */	
	[id=navigation]:not(.is-closed) [id="toggle-nav"],
	[id=navigation]:not(.is-closed) [id="toggle-nav"]::before {
		-webkit-transform: rotate(90deg) translateZ(0);
		-ms-transform: rotate(90deg) translateZ(0);
		        transform: rotate(90deg) translateZ(0);
	}

	/* Hide alternate text except from screen readers */
	.visually-hidden {
		position: absolute !important;
		clip: rect(1px, 1px, 1px, 1px);
		overflow: hidden;
		height: 1px;
		width: 1px;
	}
	
}

/*
@media screen and (max-width: 700px) {
		.header{
		.navbar{
			.nav{
				li{
					display: block;
					&>a{
						display: block;
					}
				}
			}
		}
	}	
}*/
