.content{
	min-height: 400px;
	.presentation{
		min-height: 270px;
		padding: 40px 0 0 0;
		background: url("./img/background.png");
		.title{
			margin-top: -50px;
			position: relative;
			z-index: 10;
			.text{
				@include font($header_font);
				text-transform: uppercase;
				font-style: normal;
				font-weight: 700;
			}
		}
	}
}

$decal_top : -150px;
$h_boxes_1: 200px;
$h_boxes_2: 200px;
$border-radius: 4px;


.name_desc{
	h1{
	@include font($header1_font);
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
	color:$c0;
	font-style: normal;
	font-weight: 400;
	font-size: 5.5em;
	margin: 0;
	text-align: center;
	display:block;
	width: 100%;
	}
	.domain{
		padding-bottom: 150px;
		@include font($header_font);
		text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
		color:$c0;
		font-size: 3.5em;
		margin: 0;
		letter-spacing: 0.1em;
		font-variant: italic;
		display:block;
		width: 100%;
		text-align: center;
		span{
			color:$c1;
			@include font($header1_font);
			font-size: 0.5em;
			font-weight: bold;
		}
	}
}


h2{
	display:inline-block;
	padding: 10px;
	font-size: 2em;
	padding: 20px 0 15px 0;
	margin:20px 0 10px 0;
  	color: black;
  	font-style: normal;
	font-weight: 400;
	width: 100%;
	text-align: center;
	@include font($header_font);
	span{
		display:inline-block;
    	padding-left: 10px;
    	margin-bottom: 7px;
    	border-bottom:2px solid black;
    	width: 20%;
    }
    span.lt{
    	margin-right: 20px;
    }
    span.rt{
    	margin-left: 20px;
    }
}
.content_box{
	@include padding-canvas($canvas-border);
	position:relative;
}
@media screen and (max-width: 1000px) {

.content_box{
	@include padding-canvas(10px);
	position:relative;
	}
}
.boxes{
	position:relative;
	z-index: 1;
	border-radius: $border-radius $border-radius $border-radius $border-radius;
	color: darken($presentation_bckg, 20%);
	margin-bottom: 30px;
	font-size:1.1em;
	p{
		font-size:1.1em;
		color:black;
		@include font($text_font);
		font-style: normal;
		font-weight: 300;
	}
}
.skills{
	//@include border-shadow(inset, 1px, 1px, 3px, 1px, lighten($c6, 20%));
	background: -moz-linear-gradient(top,  rgba(69,72,77,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0045484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	border-bottom: 30px solid black;
//	background-color:rgba(0, 0, 0, 0.5);
	margin-top: 30px;
	.boxes{
		min-height: 550px;
	}
	.boxes>.icon{
		background-color:$c4;
		padding:0;
		border-radius:200px;
		text-align: center;
		line-height: 170px;
		width: 170px;
		height:170px;
		margin: 10px auto 10px auto;
		font-size: 2.1em;
		color:$c1;
		border:4px solid $c1;
		
    }
    .boxes:hover .icon{
		border:4px solid $c2;
		@include transition(all, 0.2s, ease-in-out);
		color:$c2;
		font-size:2.5em;
	}
    .boxes+.boxes{
    	.link_skills{
    		.link{
    			color: lighten($c1, 15%);
				@include border-shadow(inset, 0, 0, 0, 4px, lighten($c1, 15%));
				&:hover{
					color: $c0;
					@include border-shadow(inset, 0, 0, 0, 4px, $c2);
					background-color: $c2;
				}
    		}
    	}
    	.icon{
		background-position: 0 -340px;
    	}
    }
    .boxes+.boxes+.boxes{
    	.link_skills{
    		.link{
    			color: lighten($c1, 10%);
				@include border-shadow(inset, 0, 0, 0, 4px, lighten($c1, 10%));
				&:hover{
					color: $c0;
					@include border-shadow(inset, 0, 0, 0, 4px, $c2);
					background-color: $c2;
				}
    		}
    	}
    	.icon{
		background-position: 0 -510px;
    	}
    }
    .boxes+.boxes+.boxes+.boxes{
    	.link_skills{
    		.link{
    			color: lighten($c1, 5%);
				@include border-shadow(inset, 0, 0, 0, 4px, lighten($c1, 5%));
				&:hover{
					color: $c0;
					@include border-shadow(inset, 0, 0, 0, 4px, $c2);
					background-color: $c2;
				}
    		}
    	}
    	.icon{
		background-position: 0 -170px;
    	}
    }
    p{
    	margin:0 auto;
    	text-align: left;
    	color:$c0;
    	font-weight:200;
    	min-height: 150px;
    	span{
    		display:block;
    		color: $c2;
    		font-size: 2em;
    		line-height: 2px;
    		padding-bottom: 3px;
    	}
    }
    h3{
    	color:$c0;
    	text-align: center;
    	font-size:1.5em;
    }
    .link_skills{
		display: inline-block;
    	bottom: 0;
    	margin-top: 30px;

    	.link{
    		position: absolute;
    		bottom: 0;
    		right: 0;
    		float: right;
    		margin-right: 20px;
			font-size:1em;
	    	height: 40px;
	    	line-height: 40px;
	    	color: $c1;
			@include border-shadow(inset, 0, 0, 0, 4px, $c1);
			&:hover{
				color: $c0;
				@include border-shadow(inset, 0, 0, 0, 4px, $c2);
				background-color: $c2;
			}
    	}
  	}
}
.works{
	background-color: $c0;
	padding-bottom: 30px;
  .boxes{
	-webkit-box-shadow: 2px 2px 1px 0px rgba(50, 50, 50, 0.50);
	-moz-box-shadow:    2px 2px 1px 0px rgba(50, 50, 50, 0.50);
	box-shadow:         2px 2px 1px 0px rgba(50, 50, 50, 0.50);
	overflow: hidden;
	height: 100%;
    &:hover section{
			background-color: rgba(255, 255, 255, 0.85);
   			@include transform(translate(0, 0));
		}
    section{
		border-radius: $border-radius $border-radius $border-radius $border-radius;
    	display: block;
		width:100%;
		height:100%;
		background-color: none;
		position: absolute;
   		@include transform(translate(0, - $h_boxes_2*2));
		@include transition(all, 0.2s, ease-in-out);
		padding-top: 30%;
		text-align: center;
		a{
			display:inline;
			@include border-shadow(inset, 0, 0, 0, 4px, $c6);
			color:$c6;
			width:auto;
			height: 30px;
			margin: 0 auto;
			font-size: 1.3em;
			padding: 12px 19px;
			&:hover{
				background-color: $c3;
				color:$c0;
				@include border-shadow(inset, 0, 0, 0, 4px, $c3)
			}
		}
		p{
			display:block;
			width:60%;
			margin: 10px auto;
			text-align:center;
		}
		h3{
			display:inline;
			height: 30px;
			width: auto;
			text-align: center;
			@include font($header_font);
			color:inherit;
		}
	}
    img{
    	display: block;
    	width: 100%;
    	border:1px solid rgba(100, 100, 100, 0.2);
		border-radius: $border-radius $border-radius $border-radius $border-radius;
    }
  }
}
.inner_boxes{
	padding: 10px;
}
h3, h4{
	margin:0;
	color:black;
    @include font($header_font);
}
.border_link{
	border-radius: $border-radius $border-radius $border-radius $border-radius;
	@include border-shadow(inset, 2px, 2px, 5px, 1px, $c6);
	margin-bottom: 20px;

}
.link{
	display: block;
	height:50px;
	line-height: 50px;
	width: 100%;
	color: white;
    @include font($header_font);
    font-size: 1.5em;
	text-align: center;
	text-decoration: none;
	border-radius: $border-radius $border-radius $border-radius $border-radius;
	background-color: transparent;
	@include border-shadow(inset, 0, 0, 0, 4px, $c6);
	@include transition(all, 0.2s, ease-in-out);
	color: $c6;
	font-weight: bold;
	&:hover{
		background-color: $c3;
		color:white;
		@include border-shadow(inset, 0, 0, 0, 4px, $c3)
	}
}
.content_link{
	position:absolute;
	right:gutter();
	bottom: 0;
	height: 100%;
	.link{
		position: absolute;
		bottom: 30px;
		margin-bottom: gutter()*2;
		left:0;

	}
}


@media screen and (max-width: 1000px) {
h2{
	span{
    	width: 5%;
    }
    span.lt{
    	margin-right: 10px;
    }
    span.rt{
    	margin-left: 10px;
    }
}
.works{
 .content_link{
    position: relative;
    right: auto;
    .link{
      position:relative;
      bottom: 0;
    }
  }
 }
 	.name_desc{
	h1{

	font-size: 4.4em;
	}
	.domain{
		padding-bottom: 100px;
		@include font($header_font);
		font-size: 2.5em;
		span{
			font-size: 1em;
		}
	}
}
}

@media screen and (max-width: 1000px) {
	h2{
		font-size: 1.8em;
		span{
	    	width: 2%;
	    	font-size: 2em;
	    }
	}
	.name_desc{
	h1{
		margin-top: 40px;
		font-size: 3.2em;
		line-height: 1em;
	}
	.domain{
		padding-bottom: 50px;
		padding-top: 20px;
		@include font($header_font);
		font-size: 2.1em;
		span{
			display: block;
			font-size: 0.6em
		}
	}
}
.skills{
	font-size: 1.2em;
	.boxes{
		min-height: 300px;
		margin-bottom: 60px;
		.link_skills{
			margin-top: 40px;
		}
	}	
	.boxes>.icon{
		line-height: 240px;
		width: 240px;
		height:240px;
    }
}
}