//project
.left{
	 img{
    	max-width: 100%;
    	border:1px solid rgba(100, 100, 100, 0.2);
		border-radius: $border-radius $border-radius $border-radius $border-radius;
    }
}
.project{
	background-color: $c1;
	h3{
		margin-top: 20px;
		font-size: 1.6em;
	}
	.date{
		font-style: italic;
		font-weight: 400;
		color: black;
		@include font($text_font);
		display:inline-block;
		}

	.the-icons{
		color:black;
		@include font($text_font);
		display:inline-block;
		margin-right: 4px;
		margin-left: -4px;
		}
	.desc i{
		color:black;
		
	}
	p{
		font-weight: 200;

	}
	.distand{
		display: block;
		width: 50px;
		height: 2px;
    	border-bottom:2px solid $c3;
	}
	.boxes.left{
		img{
			border:none;
		}
	}
	.right{
		position: relative;
		img{
			margin-top:-30px;
			max-width: 100%;
		}
	}	
	.share{
		a:first-child{
		}
	}	
}


//project_list
.tag_work_list{
	.tag_work{
	-webkit-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.50);
	-moz-box-shadow:    0px 0px 0px 0px rgba(50, 50, 50, 0.50);
	box-shadow:         0px 0px 0px 0px rgba(50, 50, 50, 0.50);
		ul{
			padding:0;
			li{
			list-style-type: none;
			margin: 12px 0;
				.the-icons{
					display: inline-block;
					padding: 7px 5px;
					margin-right: 10px;
					border-radius:100%;
					background-color: $c2;
					font-size: 1.3em;
					color:$c6;
					@include transition(all, 0.2s, ease-in-out);
				}
				a{
					text-decoration: none;
					color:$c6;
					@include font($header_font);
					margin-left: 0;
					display:block;
					@include transition(all, 0.2s, ease-in-out);
				}
				&:hover .the-icons{
					background-color: $c6;
					i{
						color: white;
					}
				}
				&:hover a{
					margin-left: 10px;
				}
				&:hover{
					cursor: pointer;
					}
			}
		}	
	}
	h3{
		font-size: 1.4em;
		color:$c6;
		text-transform: uppercase;
	}
}
.works{
	.tag_work_list{
		.tag_work{
			ul{
				li{
	   				&:first-child{
	   				}
	   				.the-icons{
	   					background-color: $c1;
					}
				}
			}
		}
	}
}


/*@media screen and (max-width: 1000px) {
.works{
	.tag_work_list{
	   		@include span(first 8);
		.tag_work{
			ul{
	    	@include container;
				li{
					&:hover a{
						margin-left:0px;
					}
	   				@include span(last 2);
	   				&:first-child{
	   					@include span(first 2);
	   					.the-icons{
	   						font-size: 0.9em;
	   					}

	   				}
	   				.the-icons{
	   					padding: 4px;
	   					font-size: 1em;
	   					margin-right: 4px;
	   					&:hover{

	   					}
					}
				}
			}
		}
	}
}
}
*/

@media screen and (max-width: 1000px) {
	.works{
		.boxes{
			min-height: auto;
			p{
				font-size: 1.3em;
			}
		}
	.tag_work_list{
	   		@include span(first 8);
		.tag_work{
			ul{
			font-size: 1.5em;
	    	@include container;
				li{
	   				@include span(last 8);
	   				&:nth-child(2n+1){
	   					@include span(first 8);
	   				}
	   				.the-icons{
					}
				}
			}
		}
	}
}
.project, .moi{
		font-size:1.3em;	
	}
}

